<div class="de-app-container">
  <div class="de-sidemenu-container">
    <div class=""></div>
    <div class="flex w-full flex-col">
      <de-radio-buttons
        [items]="deradios"
        [(value)]="actionType"
        (onValueChanged)="onRadioValueChanged(textArea)"
        >
        <div *deRadioButton="let d">
          {{ d.label }}
        </div>
      </de-radio-buttons>
    </div>
  </div>
  <!-- .side-menu -->
  <div class="h-full w-5/5 box-border flex w-full flex-col">
    <div class="topmenu">
      top menu
    </div><!-- .topmenu -->
    <div class="w-ful flex-startl shadow-lg box-border">
      <textarea
        #textArea
        class="w-full max-h-96 outline-none text-xl p-5 resize-none"
        rows="10"
        placeholder="URLs"
        (deDebounce)="onValueChanged(textArea)"
        (paste)="onValueChanged(textArea)"
      ></textarea>
    </div>
    <!-- .de-output -->
    <de-output [value]="transformed"></de-output>
  </div>
  <!-- .content -->
</div>
<!-- .container flex -->
