@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea;
}

.de-replaced {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

// hide on mobile and tablet
.hide-on-device {
  @apply lg:flex hidden;
}

// show on mobile and tablet
.show-on-device {
  @apply lg:hidden flex;
}
